# build artifacts
dist/
build/
*.zip

/vendor/*
!/vendor/.gitkeep
.phpunit.result.cache

# Ignore common binaries
*.png
!assets/*.png
*.jpg
*.jpeg
*.gif
*.pdf
*.exe
.DS_Store
languages/*.mo
node_modules/
