<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" verbose="true" executionOrder="default" backupGlobals="false" backupStaticAttributes="false">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">tests/Unit</directory>
      <directory suffix="Test.php">tests/Reports</directory>
      <file>tests/Admin/SchedulePageTest.php</file>
      <directory suffix="Test.php">tests/Privacy</directory>
      <directory suffix="Test.php">tests/Uninstall</directory>
      <file>tests/Token/TokenServiceTest.php</file>
      <file>tests/Registration/RegistrationFormTest.php</file>
      <file>tests/Rest/CheckinEndpointTest.php</file>
      <file>tests/Shortcodes/StaffDashboardManualEntryTest.php</file>
      <file>tests/Registration/RegistrationEmailTest.php</file>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
      <directory>includes</directory>
    </include>
  </coverage>
</phpunit>
