<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" verbose="true" executionOrder="default" backupGlobals="false" backupStaticAttributes="false">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">tests/Unit</directory>
      <file>tests/UninstallTest.php</file>
      <file>tests/Token/class-tokenservicetest.php</file>
      <file>tests/Registration/RegistrationFormTest.php</file>
      <file>tests/Rest/class-checkincontrollertest.php</file>
      <file>tests/Registration/RegistrationEmailTest.php</file>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
      <directory>includes</directory>
    </include>
  </coverage>
</phpunit>
